@page "/login"
<div class="d-flex w-100 align-items-center justify-content-center">
    <form class="d-flex flex-column align-items-center justify-content-center shadow rounded-2 ">
        <h1>
            Khata
        </h1>

        <h2>
            Track. Save. home.
        </h2>

        <div style="padding:67px" class="d-flex flex-column justify-content-center align-items-center gap-3">
            <input type="text" required placeholder="Enter Your Name" name="name" value="" />
            <input type="password" required placeholder="Enter Your Password" name="name" value="" />
        </div>

        <span>
            Currency

            <select>
                <option value="NPR">NPR</option>
                <option value="INR">INR</option>
            </select>
        </span>
    </form>
</div>


@code {

}
