.deleteBox {
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    top: 0;
    right: 0;
    z-index: 1000;
    backdrop-filter: blur(7px); /* Adds the blur effect */
    background-color: rgba(255, 255, 255, 0.4); /* White background with 50% transparency */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
}

.dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* Adjust width as needed */
    padding: 20px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensures it appears above other elements */
    text-align: center;
    
}

    .dialog-box h1 {
        font-size: 20px;
        margin-bottom: 15px;
        color: #333;
    }

    .dialog-box h3 {
        font-size: 16px;
        color: #DC143C;
        margin-bottom: 20px;
    }

    .dialog-box button {
        background-color: transparent;
        border: solid 2px #DC143C;
        border-radius: 5px;
        padding: 9px 10px;
        
        cursor: pointer;
        transition: background-color 0.2s ease, color 0.2s ease;
    }

        .dialog-box button:hover {
            background-color: #DC143C;
            color: white;
        }

    .dialog-box img {
        width: 16px; /* Adjust size as needed */
        height: 16px;
    }

    .dialog-box strong {
        color: #DC143C;
        font-weight: bold;
    }
