
<div style="
              width:20%;
              background:#FEFEFF;
"
class="d-flex align-items-center flex-column  h-100 shadow">

    @* Logo *@
    <h1 style="color:#7367F0; font-weight:700; font-size:3rem; font-family:'LogoFont'">Khata</h1>


    @* navlist *@
    <div class="d-flex w-100 h-100 align-items-center justify-content-center fw-bold">
        <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
            <nav class="flex-column">

                @for( int i = 0; i < menuItems.Length; i++)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@menuItems[i,i]" >
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> @menuItems[]

                        </NavLink>
                    </div>
                }


            </nav>
        </div>
    </div>


</div>

@code{
    string[,] menuItems = new string[2, 3]
        {
        {"/","Dashboard", "dashboard.png"},
        {"income", "Income", "income.png"},
        {"expense", "Expense", "expense.png"},
        {"debt", "Debt", "debt.png"},
        }

}